*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  background: lightseagreen;
  border-radius: 8px;
  margin: 22px;
}

.menu input,button{
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
}

button:hover{
  cursor: pointer;
}

.Quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  background: lightseagreen;
  border-radius: 8px;
  margin: 22px;
}

.Finished{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  background: lightseagreen;
  border-radius: 8px;
  margin: 22px;
}
